
<div id="dtpatientHistory" class="row" style="background-color: cadetblue;">

    <div class="col-lg-12" style="height:100%">
        <table class="table table-striped table-bordered" cellspacing="0" width="100%" style="border:solid 1px">
            <thead>
                <span style="font-weight: bold;">CERVICAL CANCER</span>

            </thead>
            <tr>
                <td>
                    Dosage
                </td>
                <td>
                    Order By
                </td>
                <td>
                    Date Order
                </td>
                <td>
                    Administer By
                </td>
                <td>
                    Date Administer
                </td>
                <td>
                    Action
                </td>
            </tr>
            <tr>
                <td>
                    <input id="txtCCDosage" type="text" class="form-control" name="Pflags"><br>
                </td>
                <td>
                    <input id="txtCCOrderby" type="text" class="form-control" name="Pflags"><br>
                </td>
                <td>
                    <input id="DtxtCCateOrder" type="text" class="form-control" name="Pflags"><br>
                </td>
                <td>
                    <input id="txtCCAdministerBy" type="text" class="form-control" name="Pflags"><br>
                </td>
                <td>
                    <input id="txtCCDateAdminister" type="text" class="form-control" name="Pflags"><br>
                </td>
                <td>
                    <input id="txtCCbtnClear" type="button" class="form-control" name="Pflags" value="Clear"><br>
                </td>
            </tr>
        </table>
        <table class="table table-striped table-bordered" cellspacing="0" width="100%" style="border:solid 1px">
            <thead>
                <span style="font-weight: bold;">FLU</span>

            </thead>
            <tr>
                <td>
                    Dosage
                </td>
                <td>
                    Order By
                </td>
                <td>
                    Date Order
                </td>
                <td>
                    Administer By
                </td>
                <td>
                    Date Administer
                </td>
                <td>
                    Action
                </td>
            </tr>
            <tr>
                <td>
                    <input id="txtFLUDosage" type="text" class="form-control" name="Pflags"><br>
                </td>
                <td>
                    <input id="txtFLUOrderby" type="text" class="form-control" name="Pflags"><br>
                </td>
                <td>
                    <input id="txtFLUDateOrder" type="text" class="form-control" name="Pflags"><br>
                </td>
                <td>
                    <input id="txtFLUAdministerBy" type="text" class="form-control" name="Pflags"><br>
                </td>
                <td>
                    <input id="txtFLUDateAdminister" type="text" class="form-control" name="Pflags"><br>
                </td>
                <td>
                    <input id="txtFLUbtnClear" type="button" name="Pflags" class="form-control" value="Clear"><br>
                </td>
            </tr>
        </table>
        <table class="table table-striped table-bordered" cellspacing="0" width="100%" style="border:solid 1px">
            <thead>
                <span style="font-weight: bold;">HEPATITIS A</span>

            </thead>
            <tr>
                <td>
                    Dosage
                </td>
                <td>
                    Order By
                </td>
                <td>
                    Date Order
                </td>
                <td>
                    Administer By
                </td>
                <td>
                    Date Administer
                </td>
                <td>
                    Action
                </td>
            </tr>
            <tr>
                <td>
                    <input id="txtHADosage" type="text" class="form-control" name="Pflags"><br>
                </td>
                <td>
                    <input id="txtHAOrderby" type="text" class="form-control" name="Pflags"><br>
                </td>
                <td>
                    <input id="txtHADateOrder" type="text" class="form-control" name="Pflags"><br>
                </td>
                <td>
                    <input id="txtHAAdministerBy" type="text" class="form-control" name="Pflags"><br>
                </td>
                <td>
                    <input id="txtHADateAdminister" type="text" class="form-control" name="Pflags"><br>
                </td>
                <td>
                    <input id="txtHAbtnClear" type="button" class="form-control" name="Pflags" value="Clear"><br>
                </td>
            </tr>
        </table>
        <table class="table table-striped table-bordered" cellspacing="0" width="100%" style="border:solid 1px">
            <thead>
                <span style="font-weight: bold;">HEPATITIS B</span>

            </thead>
            <tr>
                <td>
                    Dosage
                </td>
                <td>
                    Order By
                </td>
                <td>
                    Date Order
                </td>
                <td>
                    Administer By
                </td>
                <td>
                    Date Administer
                </td>
                <td>
                    Action
                </td>
            </tr>
            <tr>
                <td>
                    <input id="txtHBDosage" type="text" class="form-control" name="Pflags"><br>
                </td>
                <td>
                    <input id="txtHBOrderby" type="text" class="form-control" name="Pflags"><br>
                </td>
                <td>
                    <input id="txtHBDateOrder" type="text" class="form-control" name="Pflags"><br>
                </td>
                <td>
                    <input id="txtHBAdministerBy" type="text" class="form-control" name="Pflags"><br>
                </td>
                <td>
                    <input id="txtHBDateAdminister" type="text" class="form-control" name="Pflags"><br>
                </td>
                <td>
                    <input id="txtHBbtnClear" type="button" name="Pflags" class="form-control" value="Clear"><br>
                </td>
            </tr>
        </table>
        <table class="table table-striped table-bordered" cellspacing="0" width="100%" style="border:solid 1px">
            <thead>
                <span style="font-weight: bold;">HEPATITIS AB</span>

            </thead>
            <tr>
                <td>
                    Dosage
                </td>
                <td>
                    Order By
                </td>
                <td>
                    Date Order
                </td>
                <td>
                    Administer By
                </td>
                <td>
                    Date Administer
                </td>
                <td>
                    Action
                </td>
            </tr>
            <tr>
                <td>
                    <input id="txtHABDosage" type="text" class="form-control" name="Pflags"><br>
                </td>
                <td>
                    <input id="txtHABOrderby" type="text" class="form-control" name="Pflags"><br>
                </td>
                <td>
                    <input id="txtHABDateOrder" type="text" class="form-control" name="Pflags"><br>
                </td>
                <td>
                    <input id="txtHABAdministerBy" type="text" class="form-control" name="Pflags"><br>
                </td>
                <td>
                    <input id="txtHABDateAdminister" type="text" class="form-control" name="Pflags"><br>
                </td>
                <td>
                    <input id="txtHABbtnClear" type="button" class="form-control" name="Pflags" value="Clear"><br>
                </td>
            </tr>
        </table>
        <table class="table table-striped table-bordered" cellspacing="0" width="100%" style="border:solid 1px">
            <thead>
                <span style="font-weight: bold;">MMR</span>

            </thead>
            <tr>
                <td>
                    Dosage
                </td>
                <td>
                    Order By
                </td>
                <td>
                    Date Order
                </td>
                <td>
                    Administer By
                </td>
                <td>
                    Date Administer
                </td>
                <td>
                    Action
                </td>
            </tr>
            <tr>
                <td>
                    <input id="txtMMRDosage" type="text" class="form-control" name="Pflags"><br>
                </td>
                <td>
                    <input id="txtMMROrderby" type="text" class="form-control" name="Pflags"><br>
                </td>
                <td>
                    <input id="txtMMRDateOrder" type="text" class="form-control" name="Pflags"><br>
                </td>
                <td>
                    <input id="txtMMRAdministerBy" type="text" class="form-control" name="Pflags"><br>
                </td>
                <td>
                    <input id="txtMMRDateAdminister" type="text" class="form-control" name="Pflags"><br>
                </td>
                <td>
                    <input id="txtMMRbtnClear" type="button" class="form-control" name="Pflags" value="Clear"><br>
                </td>
            </tr>
        </table>
        <table class="table table-striped table-bordered" cellspacing="0" width="100%" style="border:solid 1px">
            <thead>
                <span style="font-weight: bold;">TETANUS TOXOID</span>
            </thead>
            <tr>
                <td>
                    Dosage
                </td>
                <td>
                    Order By
                </td>
                <td>
                    Date Order
                </td>
                <td>
                    Administer By
                </td>
                <td>
                    Date Administer
                </td>
                <td>
                    Action
                </td>
            </tr>
            <tr>
                <td>
                    <input id="txtTTDosage" type="text" class="form-control" name="Pflags"><br>
                </td>
                <td>
                    <input id="txtTTOrderby" type="text" class="form-control" name="Pflags"><br>
                </td>
                <td>
                    <input id="txtTTDateOrder" type="text" class="form-control" name="Pflags"><br>
                </td>
                <td>
                    <input id="txtTTAdministerBy" type="text" class="form-control" name="Pflags"><br>
                </td>
                <td>
                    <input id="txtTTDateAdminister" type="text" class="form-control" name="Pflags"><br>
                </td>
                <td>
                    <input id="txtTTbtnClear" type="button" class="form-control" name="Pflags" value="Clear"><br>
                </td>
            </tr>
        </table>
        <table class="table table-striped table-bordered" cellspacing="0" width="100%" style="border:solid 1px">
            <thead>
                <span style="font-weight: bold;">VARICELLA</span>
            </thead>
            <tr>
                <td>
                    Dosage
                </td>
                <td>
                    Order By
                </td>
                <td>
                    Date Order
                </td>
                <td>
                    Administer By
                </td>
                <td>
                    Date Administer
                </td>
                <td>
                    Action
                </td>
            </tr>
            <tr>
                <td>
                    <input id="txtVARDosage" type="text" class="form-control" name="Pflags"><br>
                </td>
                <td>
                    <input id="txtVAROrderby" type="text" class="form-control" name="Pflags"><br>
                </td>
                <td>
                    <input id="txtVARDateOrder" type="text" class="form-control" name="Pflags"><br>
                </td>
                <td>
                    <input id="txtVARAdministerBy" type="text" class="form-control" name="Pflags"><br>
                </td>
                <td>
                    <input id="txtVARDateAdminister" type="text" class="form-control" name="Pflags"><br>
                </td>
                <td>
                    <input id="txtVARbtnClear" type="button" class="form-control" name="Pflags" value="Clear"><br>
                </td>
            </tr>
        </table>
        <table class="table table-striped table-bordered" cellspacing="0" width="100%" style="border:solid 1px">
            <thead>
                <span style="font-weight: bold;">TETANUS ANTITOXIN</span>
            </thead>
            <tr>
                <td>
                    Dosage
                </td>
                <td>
                    Order By
                </td>
                <td>
                    Date Order
                </td>
                <td>
                    Administer By
                </td>
                <td>
                    Date Administer
                </td>
                <td>
                    Action
                </td>
            </tr>
            <tr>
                <td>
                    <input id="txtTADosage" type="text" class="form-control" name="Pflags"><br>
                </td>
                <td>
                    <input id="txtTAOrderby" type="text" class="form-control" name="Pflags"><br>
                </td>
                <td>
                    <input id="txtTADateOrder" type="text" class="form-control" name="Pflags"><br>
                </td>
                <td>
                    <input id="txtTAAdministerBy" type="text" class="form-control" name="Pflags"><br>
                </td>
                <td>
                    <input id="txtTADateAdminister" type="text" class="form-control" name="Pflags"><br>
                </td>
                <td>
                    <input id="txtTAbtnClear" type="button" class="form-control" name="Pflags" value="Clear"><br>
                </td>
            </tr>
        </table>
        <table class="table table-striped table-bordered" cellspacing="0" width="100%" style="border:solid 1px">
            <thead>
                <span style="font-weight: bold;">TETANUS DIPTHERIA</span>
            </thead>
            <tr>
                <td>
                    Dosage
                </td>
                <td>
                    Order By
                </td>
                <td>
                    Date Order
                </td>
                <td>
                    Administer By
                </td>
                <td>
                    Date Administer
                </td>
                <td>
                    Action
                </td>
            </tr>
            <tr>
                <td>
                    <input id="txtTDDosage" type="text" class="form-control" name="Pflags"><br>
                </td>
                <td>
                    <input id="txtTDOrderby" type="text" class="form-control" name="Pflags"><br>
                </td>
                <td>
                    <input id="txtTDDateOrder" type="text" class="form-control" name="Pflags"><br>
                </td>
                <td>
                    <input id="txtTDAdministerBy" type="text" class="form-control" name="Pflags"><br>
                </td>
                <td>
                    <input id="txtTDDateAdminister" type="text" class="form-control" name="Pflags"><br>
                </td>
                <td>
                    <input id="txtTDbtnClear" type="button" class="form-control" name="Pflags" value="Clear"><br>
                </td>
            </tr>
        </table>
        <table class="table table-striped table-bordered" cellspacing="0" width="100%" style="border:solid 1px">
            <thead>
                <span style="font-weight: bold;">TETANUS DIPTHERIA ACELLULAR PERTUSSIS</span>
            </thead>
            <tr>
                <td>
                    Dosage
                </td>
                <td>
                    Order By
                </td>
                <td>
                    Date Order
                </td>
                <td>
                    Administer By
                </td>
                <td>
                    Date Administer
                </td>
                <td>
                    Action
                </td>
            </tr>
            <tr>
                <td>
                    <input id="txtTDAPDosage" type="text" class="form-control" name="Pflags"><br>
                </td>
                <td>
                    <input id="txtTDAPOrderby" type="text" class="form-control" name="Pflags"><br>
                </td>
                <td>
                    <input id="txtTDAPDateOrder" type="text" class="form-control" name="Pflags"><br>
                </td>
                <td>
                    <input id="txtTDAPAdministerBy" type="text" class="form-control" name="Pflags"><br>
                </td>
                <td>
                    <input id="txtTDAPDateAdminister" type="text" class="form-control" name="Pflags"><br>
                </td>
                <td>
                    <input id="txtTDAPbtnClear" type="button" class="form-control" name="Pflags" value="Clear"><br>
                </td>
            </tr>
        </table>
        <table class="table table-striped table-bordered" cellspacing="0" width="100%" style="border:solid 1px">
            <thead>
                <span style="font-weight: bold;">TETANUS GLOBULIN</span>
            </thead>
            <tr>
                <td>
                    Dosage
                </td>
                <td>
                    Order By
                </td>
                <td>
                    Date Order
                </td>
                <td>
                    Administer By
                </td>
                <td>
                    Date Administer
                </td>
                <td>
                    Action
                </td>
            </tr>
            <tr>
                <td>
                    <input id="txtTGDosage" type="text" class="form-control" name="Pflags"><br>
                </td>
                <td>
                    <input id="txtTGOrderby" type="text" class="form-control" name="Pflags"><br>
                </td>
                <td>
                    <input id="txtTGDateOrder" type="text" class="form-control" name="Pflags"><br>
                </td>
                <td>
                    <input id="txtTGAdministerBy" type="text" class="form-control" name="Pflags"><br>
                </td>
                <td>
                    <input id="txtTGDateAdminister" type="text" class="form-control" name="Pflags"><br>
                </td>
                <td>
                    <input id="txtTGbtnClear" type="button" class="form-control" name="Pflags" value="Clear"><br>
                </td>
            </tr>
        </table>
    </div>

</div>

