<h1>Patient Information</h1>

<h1 id="PatientName"></h1>
<div style="background-color: cadetblue;">
    <table id="dtpatientInfo" class="table table-striped table-bordered" cellspacing="0" width="100%" ">
        <tr style="display:none">
            <td></td>
        </tr>
    </table>
</div>