
<div id="dtpatientHistory" class="row"style="background-color: cadetblue;">
    <div class="col-lg-6" style="margin-top:10px">
        <table class="table table-striped table-bordered" cellspacing="0" width="100%" style="border:solid 1px">
            <thead>
                <span style="font-weight: bold;">Patient Flags</span>

            </thead>
            <tr>
                <td>
                    @*<input id=" PatientFlags" type="text" name="Pflags" style="width:100%"><br>*@
                    <textarea id="txtPatientFlags" name="Text1" cols="100" class="form-control" rows="4"></textarea>

                </td>
                @*<td>
                        <input id="SpecialNeeds" type="text" name="Pflags" value="Special Needs"><br>
                    </td>*@
            </tr>
        </table>
        <table class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>

                <span style="font-weight: bold;">HOSPITALIZATION</span>

            </thead>
            <tr>
                <td>
                    @*<input id="Hospitalization" type="text" name="Pflags" />*@
                    <textarea id="txtHospitalization" name="Text1" cols="100" class="form-control" rows="4"></textarea>
                </td>
                @*<td>
                        <input id="SpecialNeeds" type="checkbox" name="Pflags" value="Special Needs">Special Needs<br>
                    </td>*@
            </tr>
        </table>
        <table class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>

                <span style="font-weight: bold;">SURGERY</span>

            </thead>
            <tr>
                <td>
                    @*<input id="Surgery" type="text" name="Pflags" />*@
                    <textarea id="txtSurgery" name="Text1" cols="100"class="form-control"  rows="4"></textarea>

                </td>
                @*<td>
                        <input id="SpecialNeeds" type="checkbox" name="Pflags" value="Special Needs">Special Needs<br>
                    </td>*@
            </tr>
        </table>
        <table class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <span style="font-weight: bold;">TRAUMA</span>

            </thead>
            <tr>
                <td>
                    @*<input id="Trauma" type="text" name="Pflags" />*@
                    <textarea id="txtTrauma" name="Text1" cols="100"class="form-control" rows="4"></textarea>

                </td>
                @*<td>
                        <input id="SpecialNeeds" type="checkbox" name="Pflags" value="Special Needs">Special Needs<br>
                    </td>*@
            </tr>
        </table>
        <table class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <span style="font-weight: bold;">ACCIDENT</span>

            </thead>
            <tr>
                <td>
                    @*<input id="Accident" type="text" name="Pflags" />*@
                    <textarea id="txtAccident" name="Text1" cols="100" class="form-control" rows="4"></textarea>

                </td>
                @*<td>
                        <input id="SpecialNeeds" type="checkbox" name="Pflags" value="Special Needs">Special Needs<br>
                    </td>*@
            </tr>
        </table>


    </div>
    <div class="col-lg-6" style="margin-top:10px">
        <table class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <span style="font-weight: bold;">HABITS</span>

            </thead>
            <tr>
                <td>
                    @*<input id="Habits" type="text" name="Pflags" />*@
                    <textarea id="txtHabits" name="Text1" cols="100" class="form-control" rows="4"></textarea>

                </td>
                @*<td>
                            <input id="HSmokes"type="checkbox" name="Pflags" value="">Do you Smoke?<br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input id="HSTD" type="checkbox" name="Pflags" value="">Have you acquired sexually transmitted disease?<br>
                        </td>
                        <td>
                            <input id="HDrugs" type="checkbox" name="Pflags" value="">Have you taken illigal drugs before?<br>
                        </td>*@
            </tr>
        </table>
        <table class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <span style="font-weight: bold;">FOOD ALLERGY</span>

            </thead>
            <tr>
                <td>
                    @*<input id=" FoodAllergy" type="text" name="Pflags" />*@
                    <textarea id="txtFoodAllergy" name="Text1" cols="100" class="form-control" rows="4"></textarea>

                </td>
                @*<td>
                            <input id="HSmokes" type="checkbox" name="Pflags" value="">Do you Smoke?<br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input id="HSTD" type="checkbox" name="Pflags" value="">Have you acquired sexually transmitted disease?<br>
                        </td>
                        <td>
                            <input id="HDrugs" type="checkbox" name="Pflags" value="">Have you taken illigal drugs before?<br>
                        </td>*@
            </tr>
        </table>
        <table class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <span style="font-weight: bold;">MEDICINE ALLERGY</span>

            </thead>
            <tr>
                <td>
                    @*<input id=" MedicineAllergy" type="text" name="Pflags" />*@
                    <textarea id="txtMedicineAllergy" name="Text1" cols="100" class="form-control" rows="4"></textarea>

                </td>
                @*<td>
                            <input id="HSmokes" type="checkbox" name="Pflags" value="">Do you Smoke?<br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input id="HSTD" type="checkbox" name="Pflags" value="">Have you acquired sexually transmitted disease?<br>
                        </td>
                        <td>
                            <input id="HDrugs" type="checkbox" name="Pflags" value="">Have you taken illigal drugs before?<br>
                        </td>*@
            </tr>
        </table>
        <table class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <span style="font-weight: bold;">OTHER ALLERGY</span>

            </thead>
            <tr>
                <td>
                    @*<input id=" OtherAllergy" type="text" name="Pflags" />*@
                    <textarea id="txtOtherAllergy" name="Text1" cols="100" class="form-control" rows="4"></textarea>

                </td>
                @*<td>
                            <input id="HSmokes" type="checkbox" name="Pflags" value="">Do you Smoke?<br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input id="HSTD" type="checkbox" name="Pflags" value="">Have you acquired sexually transmitted disease?<br>
                        </td>
                        <td>
                            <input id="HDrugs" type="checkbox" name="Pflags" value="">Have you taken illigal drugs before?<br>
                        </td>*@
            </tr>
        </table>
        <table class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <span style="font-weight: bold;">PAST ILLNESS</span>

            </thead>
            <tr>
                <td>
                    @*<input id="PastIllness" type="text" name="Pflags" />*@
                    <textarea id="txtPastIllness" name="Text1" cols="100"class="form-control"  rows="4"></textarea>

                </td>
                @*<td>
                            <input id="HSmokes" type="checkbox" name="Pflags" value="">Do you Smoke?<br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input id="HSTD" type="checkbox" name="Pflags" value="">Have you acquired sexually transmitted disease?<br>
                        </td>
                        <td>
                            <input id="HDrugs" type="checkbox" name="Pflags" value="">Have you taken illigal drugs before?<br>
                        </td>*@
            </tr>
        </table>
    </div>

</div>
    